{% extends 'base.html' %}

{% block content %}
    <h3>Donor Name</h3>
    <p>{{ donation.donor }}</p>
    <h3>Name of Charity</h3>
    <p>{{ donation.charity }}</p>
    <h3>Date</h3>
    <p>{{ donation.date }}</p>
    <h3>Amount Donated</h3>
    <p>{{ donation.amount }}</p>
    <h3>Additional notes </h3>
    <p>{{ donation.notes }}</p>

    <p><form action="/donations/{{ donation_id }}/delete">
    <button type="submit">Remove From Donation Log</button>
    </form></p>
    
{% endfor %}
{% endblock %}