{% extends 'base.html' %}

{% block content %}
    <h1>{{ msg }}</h1>
    <h1>Welcome to Charity Tracker</h1>
    <h4>Restoring humanity one donation at a time</h4>
    <p>Keep the record of your donations and favorite charities in one place!</p>

    <!-- EXISTING USER SIGN IN FORM, GET -->
    <form method="GET" action="/home">
        <fieldset>
            <legend>Sign In</legend>
            <!-- USERNAME -->
            <div class="form-all">
                <label for="username">Username</label>
                <input class="form-credentials" type="text" name="username">
            </div>

            <!-- PASSWORD -->
            <div class="form-all">
                <label for="username">Password</label>
                <input class="form-credentials" type="text" name="password">
            </div>
        </fieldset>
        <!-- SUBMISSION BUTTON -->
        <div class="form-all">
            <button class="btn btn-primary" type="submit">Sign In</button>  
        </div>
    </form>
{% endblock %}